title {
    font-size: 75px;
}

body {
    background-color: grey;
    font-size: 25px;
    font-weight: 600;
}

header {
    font-size: 25px;
    font-weight: 600;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
h1 {
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

h4 {
    font-size: 25px;
    font-weight: 600;
}

p {
    color: red;
    font-size: 20px;
    
}

h5 {
    font-size: 25px;
    font-weight: 600;
}

h6 {
    font-size: 25px;
    font-weight: 600;
}

ul {
    color: blue;
}